.container-fluid {
  padding: 0;
}

.bg-image {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("assets/SignupCover.svg");
  background-color: rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
}
@media (max-width: 767px) {
  .bg-image {
    display: none;
  }
}
.bg-image:after {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .bg-image:after {
    display: none;
  }
}
.bg-image .left-section {
  margin-left: 75px;
}
@media (max-width: 1400px) {
  .bg-image .left-section {
    margin-left: 44px;
  }
}
@media (min-width: 768px) and (max-width: 981px) {
  .bg-image .left-section {
    margin-left: 22px;
  }
}
@media (max-width: 520px) {
  .bg-image .left-section {
    margin-left: 22px;
  }
}
@media (max-width: 767px) {
  .bg-image .left-section {
    display: none;
  }
}
.bg-image .left-section .logo-img {
  margin: 62px 179px 192px 0;
  height: 19.9049682617px;
  width: 153.2452545166px;
}
@media (max-width: 1400px) {
  .bg-image .left-section .logo-img {
    margin: 54px 68px 75px 0;
  }
}
@media (max-width: 1016px) {
  .bg-image .left-section .logo-img {
    margin: 50px 12px 58px 0;
    width: 120px;
  }
}
@media (min-width: 768px) and (max-width: 981px) {
  .bg-image .left-section .logo-img {
    width: 97px;
  }
}
@media (min-width: 2500px) {
  .bg-image .left-section .logo-img {
    height: 123.904968px;
    width: 191.245255px;
  }
}
.bg-image .left-section h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
@media (max-width: 1400px) {
  .bg-image .left-section h1 {
    font-size: 24px;
    margin-top: 150px;
  }
}
@media (max-width: 1016px) {
  .bg-image .left-section h1 {
    font-size: 21px;
  }
}
@media (min-width: 768px) and (max-width: 981px) {
  .bg-image .left-section h1 {
    font-size: 15px;
  }
}
@media (min-width: 2500px) {
  .bg-image .left-section h1 {
    font-size: 41px;
    line-height: 48px;
    margin-bottom: 69px;
  }
}
.bg-image .left-section ul {
  margin: 0;
  padding: 0;
}
.bg-image .left-section ul li {
  color: #FFFFFF;
  list-style: none;
  margin-bottom: 28px;
  margin-right: 43px;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1400px) {
  .bg-image .left-section ul li {
    font-size: 16px;
    margin-right: 32px;
    margin-bottom: 28px;
  }
}
@media (min-width: 2500px) {
  .bg-image .left-section ul li {
    margin-bottom: 61px;
    margin-right: 43px;
    font-size: 27px;
    line-height: 24px;
  }
}
.bg-image .left-section ul li img {
  padding-right: 12px;
}
@media (max-width: 320px) {
  .bg-image .left-section ul li img {
    padding-right: 9px;
    height: 13px;
  }
}
@media (min-width: 2500px) {
  .bg-image .left-section ul li img {
    height: 30px;
  }
}

.right-section {
  background: #FFFFFF;
}
@media (min-width: 768px) {
  .right-section {
    height: 100vh;
  }
}
@media (max-width: 767px) {
  .right-section .logo-img {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .right-section .logo-img {
    display: none;
  }
}
.right-section .form {
  width: 576px;
}
@media (min-width: 2500px) {
  .right-section .form {
    width: 804px;
  }
}
.right-section .form h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #000000;
  margin-bottom: 50px;
}
@media (max-width: 1400px) {
  .right-section .form h1 {
    font-size: 30px;
  }
}
@media (max-width: 1400px) {
  .right-section .form h1 {
    font-size: 27px;
  }
}
@media (min-width: 768px) and (max-width: 981px) {
  .right-section .form h1 {
    font-size: 21px;
  }
}
@media (max-width: 550px) {
  .right-section .form h1 {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .right-section .form h1 {
    margin-bottom: 35px;
  }
}
@media (min-width: 2500px) {
  .right-section .form h1 {
    font-size: 49px;
    margin-bottom: 50px;
  }
}
.right-section .form a {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  color: #333333;
  padding: 14px 38px 16px 34px;
  border: 1px solid skyblue;
  border-radius: 5.2px;
  margin-bottom: 20px;
  display: block;
}
@media (max-width: 1512px) {
  .right-section .form a {
    font-size: 12px !important;
    padding: 13px 16px 13px 24px;
  }
}
@media (max-width: 1190px) {
  .right-section .form a {
    font-size: 12px !important;
    padding-left: 14px;
  }
}
@media (max-width: 890px) {
  .right-section .form a {
    font-size: 11px !important;
  }
}
@media (max-width: 390px) {
  .right-section .form a {
    font-size: 13px !important;
  }
}
@media (min-width: 2500px) {
  .right-section .form a {
    font-size: 21px !important;
    padding: 15px 38px 16px 43px;
    margin-bottom: 25px;
  }
}
.right-section .form a img {
  margin-right: 12px;
}
@media (max-width: 1400px) {
  .right-section .form a img {
    margin-right: 10px;
    height: 14px;
  }
}
@media (min-width: 1402px) {
  .right-section .form a img {
    height: 20px;
  }
}
@media (min-width: 937px) and (max-width: 1022px) {
  .right-section .form a img {
    margin-right: 6px;
    height: 12px;
  }
}
@media (min-width: 2500px) {
  .right-section .form a img {
    height: 32px;
  }
}
.right-section .form h6 {
  font-family: Poppins;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 2500px) {
  .right-section .form h6 {
    font-size: 28px;
  }
}
.right-section .form h6 {
  display: flex;
  flex-direction: row;
}
.right-section .form h6:before, .right-section .form h6:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid rgba(30, 130, 255, 0.12);
  margin: auto;
}
.right-section .form h6:before {
  margin-right: 10px;
}
.right-section .form h6:after {
  margin-left: 10px;
}
.right-section .form .form-row {
  position: relative;
}
.right-section .form .form-row label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 24px;
  color: #222222 !important;
  margin-bottom: 16px;
}
@media (max-width: 1257px) {
  .right-section .form .form-row label {
    font-size: 14px !important;
    margin-bottom: 12px;
  }
}
@media (min-width: 768px) and (max-width: 981px) {
  .right-section .form .form-row label {
    font-size: 12px !important;
  }
}
@media (min-width: 2500px) {
  .right-section .form .form-row label {
    font-size: 28px !important;
    margin-bottom: 40px;
  }
}
.right-section .form .form-row input {
  font-family: Poppins;
  padding: 16px 22px;
  border: 1px solid #18ade7;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5.2px;
  font-style: normal;
  font-size: 14px;
}
@media (min-width: 2500px) {
  .right-section .form .form-row input {
    margin-right: 16px;
    margin-bottom: 38px;
    font-size: 27px;
  }
}
.right-section .form .form-row .not_visible {
  display: block;
}
.right-section .form .form-row .visible {
  display: none;
}
.right-section .form .form-row img {
  position: absolute;
  bottom: 32px;
  right: 38px;
}
@media (min-width: 2500px) {
  .right-section .form .form-row img {
    bottom: 66px;
    right: 42px;
  }
}
.right-section .form span {
  text-decoration: underline;
  color: skyblue;
}
.right-section .form .form-check {
  margin-top: 18px;
  margin-bottom: 33px;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 981px) {
  .right-section .form .form-check {
    font-size: 11px;
  }
}
@media (min-width: 2500px) {
  .right-section .form .form-check {
    font-size: 24px;
  }
}
.right-section .form .signup-button {
  font-family: Poppins;
  height: 54px;
  width: 85%;
  background: linear-gradient(90deg, #00C6FF 9.37%, #1E82FF 100%);
  border-radius: 5.4px;
  padding: 15px 16px 15px 28px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-right: 38px;
}
@media (max-width: 1400px) {
  .right-section .form .signup-button {
    height: 50px;
    padding: 8px 12px 11px 16px;
    font-size: 14px;
    margin-right: 21px;
  }
}
@media (min-width: 768px) and (max-width: 981px) {
  .right-section .form .signup-button {
    padding: 4px 12px 11px 10px;
    font-size: 12px;
    margin-right: 12px;
  }
}
@media (max-width: 767px) {
  .right-section .form .signup-button {
    margin-bottom: 20px;
    width: 40%;
  }
}
@media (min-width: 2500px) {
  .right-section .form .signup-button {
    height: 90px;
    width: 85%;
    padding: 15px 16px 15px 28px;
    font-size: 28px;
    margin-right: 38px;
  }
}
.right-section .form .signup-button img {
  margin-left: 17px;
}
@media (max-width: 1400px) {
  .right-section .form .signup-button img {
    margin-left: 8px;
    width: 21px;
  }
}
.right-section .login-tag {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
@media (max-width: 1088px) {
  .right-section .login-tag {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .right-section .login-tag {
    margin-bottom: 80px;
  }
}
@media (min-width: 2500px) {
  .right-section .login-tag {
    font-size: 26px;
  }
}

/*# sourceMappingURL=style.css.map */
